# History files
.Rhistory
.Rapp.history
.RData
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/cache
.Rproj.user
inst/doc
#tests/testthat/mock/
.httr-oauth
gar_parse_error.rds
*.dcf
test.oauth
googleanalyticsr-auth-key.json
.Renviron
